# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User-specific
xcuserdata/
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods (if added later)
Pods/

# Accio (if used)
Dependencies/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection / tooling
iOSInjectionProject/
